/*
========================================================================================
    parallelblast Nextflow config file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs

params {
    publish_dir_mode           = 'copy'
    max_memory                 = '12 GB'
    max_cpus                   = 8
    max_time                   = '24.h'
    db                         = "s3://syn-blast/silva/"
    chunk                      = 50
    work_dir                   = "s3://syn-blast/work" 
    query                      = "s3://syn-blast/valid_blast_5000_seq.fa"
    output                     = "s3://syn-blast/work/results/blast.out"
    db_name                    = "SILVA_138.1_SSURef_tax_silva.fasta"
}

// AWS parameters for running on Batch

process.executor = 'awsbatch'
process.queue = 'default-gwf-core'
process.container = '744532261757.dkr.ecr.us-west-2.amazonaws.com/ncbi/blast:latest'
aws.region = 'us-west-2'
docker.enabled = true
aws.batch.cliPath = "/opt/aws-cli/bin/aws"

manifest {
    name            = 'nf-parallelblast'
    author          = 'Jenna Lang'
    homePage        = 'https://github.com/jennomics/parallel-blast'
    description     = 'simple workflow to run BLAST searches in parallel'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.04.0'
    version         = '1.0dev'
}
